#main {
    display:grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 3em;
}

#rulearea {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 3em;
}

#conditionform {
    margin-top: 2em;
    display:grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 3em;
}

#searchingchecks {
    display: grid;
    grid-auto-rows: auto;
}

.searchcheck {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 1em;
}

#actionform {
    margin-top: 2em;
    display: grid;
    grid-template-columns: max-content min-content min-content;
    column-gap: 3em;
}

#demoroot {
    margin-top: 2em;
}

